<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <title></title>
        <meta name = "description" content="">
        <meta name =" viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "../static/styles.css">
    </head>
    <body>
        <div class = columns>
            <div class = left></div>
            <div class = middle>
                <div class = feed>
                    <div class = filler>Live Video Feed
                    </div>
                </div>
                <div class = control>
                    <div class = instructions>
                        <h2>Instructions</h2>
                        <div></div>
                    </div>
                    <div class = arrows>
                        <div class = "vertical-arrows">
                            <button aria-label = "Move up">
                                <div class = "arrow up-arrow">
                                    <img src = "../../../imgs/arrow-up-solid.svg" alt = "Up arrow">
                                </div>
                            </button>
                        </div>
                        <div class = "horizontal-arrows">
                            <button aria-label = "Move left">
                                <div class = "arrow left-arrow">
                                    <img src = "../../../imgs/arrow-left-solid.svg" alt = "Left arrow">
                                </div>
                            </button>
                            <button aria-label = "Move right">
                                <div class = "arrow right-arrow">
                                    <img src = "../../../imgs/arrow-right-solid.svg" alt = "Right arrow">
                                </div>
                            </button>
                        </div>
                        <div class = "vertical-arrows">
                            <button aria-label = "Move down">
                                <div class = "arrow down-arrow">
                                    <img src = "../../../imgs/arrow-down-solid.svg" alt = "Down arrow">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class = right></div>
        </div>
    </body>
</html>
